@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}


.health{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  font-size: 4rem;
  background-position: center;
  background-repeat: none;
  background-size:100% 100%;
  background-repeat: no-repeat;
  text-shadow: 4px 4px 4px #fff;
}
.terminsurance{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  font-size: 4rem;
  background-position: center;
  background-repeat: none;
  background-size:100% 100%;
  background-repeat: no-repeat;
  text-shadow: 4px 4px 4px #fff;
}
.contactus{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  font-size: 4rem;
  background-position: center;
  background-repeat: none;
  background-size:100% 100%;
  background-repeat: no-repeat;
  text-shadow: 4px 4px 4px #fff;

}
.accidental{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  font-size: 4rem;
  background-position: center;
  background-repeat: none;
  background-size:100% 100%;
  background-repeat: no-repeat;
  text-shadow: 4px 4px 4px #fff;

}
.childinsurance{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  font-size: 4rem;
  background-position: center;
  background-repeat: none;
  background-size:100% 100%;
  background-repeat: no-repeat;
  text-shadow: 4px 4px 4px #fff;

}
.products{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  font-size: 4rem;
  background-position: center;
  background-repeat: none;
  background-size:100% 100%;
  background-repeat: no-repeat;
  text-shadow: 4px 4px 4px #fff;

}
.services{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  font-size: 4rem;
  background-position: center;
  background-repeat: none;
  background-size:100% 100%;
  background-repeat: no-repeat;
  text-shadow: 4px 4px 4px #fff;

}
.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  font-size: 4rem;
  background-position: center;
  background-repeat: none;
  background-size:100% 100%;
  background-repeat: no-repeat;
  text-shadow: 4px 4px 4px #fff;
}
.login{
  
}
.home {
  background-image: url("https://images.squarespace-cdn.com/content/v1/5f5bc60959cec6440c4d5dbc/1613755464852-O6QNX4MQHU4041CEGFRT/life+insurance+group+or+whole.jpg");
}

.terminsurance {
  background-image: url("");
}

.health {
  background-image: url("https://e0.pxfuel.com/wallpapers/384/203/desktop-wallpaper-health-medical-insurance.jpg");
}

.accidental {
  background-image: url("");
}

.childinsurance {
  background-image: url("");
}

.products {
  background-image: url("");
}

.contactus {
  background-image: url("");
}

.services {
  background-image: url("");
}

.signup {
  background-image: url("");
}